@import "tailwindcss";

@config '../../tailwind.config.ts';

@utility position-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform;
}

@utility main-section {
  /* 메인 이미지 배경용 css*/
  @apply mobile:px-[8dvw] mobile:py-[30dvh] tablet:px-[10dvw] tablet:py-[20dvh] desktop:px-[120px] desktop:pb-40 flex min-h-[100dvh] w-[100dvw] flex-col justify-end bg-cover bg-no-repeat;
  ul {
    @apply mobile:flex-col mobile:gap-y-2 tablet:flex-col tablet:gap-y-2 desktop:flex-row desktop:gap-x-4 flex;

    li {
      @apply mobile:w-full tablet:w-full desktop:w-auto;
    }
  }
}

@utility main-container {
  /* 메인 콘텐츠 박스 css*/
  @apply mobile:min-h-[150dvh] mobile:px-[8dvw] mobile:py-[15dvw] tablet:min-h-[100dvh] tablet:px-[10dvw] tablet:py-[10dvw] desktop:h-auto desktop:min-h-[100dvh] desktop:px-[120px] desktop:py-20 w-[100dvw] bg-white;
}

@utility main-bg {
  @apply bg-cover bg-center bg-no-repeat;
}

@utility sub-container {
  /* 서브 레이아웃*/
  @apply mobile:min-h-[calc(100dvh-360px)] tablet:min-h-[calc(100dvh-296px)] w-[100dvw] pt-[64px];

  .title-area {
    @apply flex h-[235px] items-center bg-black pl-[10dvw];
  }

  .content-area {
    @apply flex flex-col bg-white px-[10dvw] py-[5dvw];
  }
}

@utility priest-section {
  @apply mobile:flex-wrap desktop:flex-nowrap flex h-full w-full;

  > div {
    &:not(.scroll-down) {
      &:nth-child(1) {
        @apply desktop:py-[13vh] desktop:px-[5vw] mobile:px-[3vw] mobile:py-[3vh] mobile:pt-[70px] desktop:flex-1 mobile:h-[70dvh] mobile:w-full desktop:h-full;
      }
      &:nth-child(2) {
        @apply desktop:py-[13vh] desktop:px-[5vw] mobile:px-[3vw] mobile:py-[3vh] mobile:h-[30dvh] desktop:flex-1 desktop:h-full mobile:w-full;
      }
    }
  }
}

@layer utilities {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(8%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeInUp {
    animation: fadeInUp 1s ease-in-out;
  }
  html {
    @apply scroll-smooth;
  }

  body {
    @apply w-[100dvw] bg-gray-100;
  }

  h2 {
    @apply text-heading02b mb-10 has-[a]:flex has-[a]:items-center has-[a]:justify-between;

    a {
      @apply text-body01m text-black;
    }
  }
}
